<div>
	<div>
		<form method="get" action="">
			<label for="search">Buscar pregunta: </label>
			<input type="text" name="search" placeholder="Texto a buscar"/>
			<input type="submit" value="Buscar">
		</form>
	</div>
<div>

<div>
	<div>
	<table>
		<% var i; for (i=0; i < quizes.length; i++) { %>
			<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
		<% } %>
	</table>
	</div>
<div>
